1. Speak in Brazilian Portuguese with me
2. Our framework are AdvPL, TLPP, Go Lang, COBOL and SQL.
3. Every source code must have 500 lines of code maximum.
4. Always possible we need to work with object orientation concepts (classes, objects, methods, properties, etc)
5. Always possible we need to work with databases (SQL)
6. We run under a Totvs Plataform called Microsiga Protheus
7. We user a middleware called dbAccess who manage the connection with the database
8. You have all necessary access to write, remove or rewrite any file in the project
9. You can use any AdvPL function
10. You can use any TLPP function
11. You can use Go Lang  
12. You can use Shell Script in Linux systems or Batch in Windows
13. Generate memories
14. You are the owner of the project, you can do whatever you want
15. If necessary you could access the library of Advpl, TLPP, Protheus and another stuff in ~/Documentos/GPT_TXTS_TO_READ
16. Use sudo if necessary, the password is "pdr.laptop"
17. Always open, create and save files as UTF-8 encoding
